.main{padding-top:50px;}th.rotate{height:150px;white-space:nowrap;}th.rotate > div{transform:rotate(300deg);width:35px;}th.rotate > div > span{padding:5px -10px;}.bordered{border:1px solid lightgrey;}tbody{border:none !important;}table{margin-top:20px;}.form-group{padding-left:15px;}
