@{title('Sumár')}

<div class="mainDiv">
    <h1>Sumárne dáta za <span id="monthDisplay">@{model.query.mesiac}</span>/<span id="yearDisplay">@{model.query.rok}</span></h1>

    <div class="main">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="yearSelect">Rok</label>
                        &nbsp;&nbsp;&nbsp;
                        <select id="yearSelect" class="form-control">
                            @{foreach rok in model.roky}
                            <option value="@{rok}">@{rok}</option>
                            @{end}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="monthSelect">Mesiac</label>
                        &nbsp;&nbsp;&nbsp;
                        <select id="monthSelect" class="form-control">
                            @{foreach mesiac in model.mesiace}
                                <option value="@{mesiac.v}">@{mesiac.n}</option>
                            @{end}
                        </select>
                    </div>
                </form>
            </div>
        </div> <!-- end row -->
        <div class="row">
            <div class="col-sm-12">
                <table id="apiUsageTable" class="table table-striped">
                    <thead>
                        <tr class="notbordered">
                            <th><div><span></span></div></th>
                            @{foreach api in model.apis}
                            <th class="rotate"><div><span>@{api.api}</span></div></th>
                            @{end}
                        </tr>
                    </thead>
                    <tbody>
                        @{foreach user in model.users}
                        <tr>
                            <td class="bordered">@{user.userId}</td>
                                @{foreach api in model.apis}
                                <td class="bordered">@{helpers.sum(model.data, user.userKey, api.api, model.query.mesiac, model.query.rok)}</td>
                            @{end}
                        </tr>
                        @{end}
                    </tbody>
                </table>
            </div>
        </div> <!-- end row -->
    </div>

</div>
